@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;800&family=Playfair+Display:wght@600&display=swap");

body {
  font-weight: 400;
  color: #222;
  font-family: Lato, sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-bottom: -5px;
  border: 0;
}

.project-title{
  color: rgb(191, 191, 191);
  font-weight: 100;
  margin: 0;
}
header{
  display: flex;
  max-width: 900px;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 0.7;
  
}

h3{
  padding: 10px 0 0 0;
  margin: 0;
}
h4 {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5;
}

header {
  /* text-align: center; */
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 2px solid #222;
  width: 80px;
}

section {
  /* margin: 30px; */
  
}

.technicalSkills{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.technicalSkills p{
  padding: 0;
  margin: 0;
}
.projects-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;

}
.project {
  width: 250px;
  border-radius: 10px;
  /* width: 300px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.126), 0 6px 6px rgba(0, 0, 0, 0.14);
  /* margin-right: 20px; */
  /* padding: 10px; */
  overflow: hidden;
  min-height: 310px;
  margin-bottom: 40px;
  transition: transform .09s; /* Animation */
}
.project:hover{
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.project div {
padding-left: 12px;

}

.projects-div div a{
  text-decoration: none;
  }

.projects-div div p{
font-size: 12px;
}
.projects-div header{
  background-size: cover;
  height: 140px;
  padding: 0;
  margin: 0;
  overflow: hidden;

}

.insure {
  background-image: url(./assets/insure.png);
  /* opacity: 0.9; */
}

.huddle {
  background-image: url(./assets/huddle.png);
  /* opacity: 0.9; */
}

.netflix {
  background-image: url(./assets/netflix.png);
  /* opacity: 0.9; */
}

.insure:hover, .huddle:hover, .netflix:hover{
  opacity: 1;
}


canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-left: 0em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(216, 216, 216);
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
main {
  max-width: 900px;
  margin: 10px auto;
  /* align-items: center; */
  /* background-color: #222; */
}

a {
  color: #222;
}

.social-links a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #444;
}

::selection {
  background: lavender;
}

.more{
 padding: 0;
 margin: 0;
  text-align: right;
}
.more-link {
  color: #09090958;
}

@media only screen and (max-width: 450px) {
  section {
    margin: 10px;
  }
  main{
    width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .projects-div {
    /* flex-direction: column; */
    /* width: 300px; */
  }
  main{
    width: 500px;
  }
  .projects{
    text-align: center;
  }
  .more{
    text-align: center;
  }
}
